[Unit]
Description=Start uwsgi instance for quote (flask app)
After=network.target

[Service]
Type=simple
User=http
WorkingDirectory=/opt/quote.reisinge.net
ExecStart=/opt/quote.reisinge.net/venv/bin/uwsgi --ini quote.ini

[Install]
WantedBy=multi-user.target
